* {
  box-sizing: border-box;
}
#results {
  display: none;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 10px;
  text-align: center;
  width: 400px;
  margin: auto;
}
.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}
input[type=number] {
  width: 50%;
  padding: 12px 12px 12px 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  position: static;
}

@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}
